.blur {
  width: 100%;
  height: 100%;

  z-index: 1;
  position: fixed;
  top: 0%;
  left: 0%;

  transition: 0.3s ease;

  /* background-color: var(--o-white); */
  background-color: #0000003e;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);

  overflow-x: hidden;
  overflow-y: hidden;
}

.modal {
  text-align: center;
  height: fit-content;
  max-height: calc(100vh - 10ch);
  width: 100%;
  overflow-y: auto;

  position: fixed;
  top: calc(10ch - 1px); /* I want it to fit snugly */
  left: 50%;
  transform: translate(-50%, 0);

  z-index: 2;
  display: flex;
  flex-direction: column;

  overflow-x: hidden; /* Avoid horizontal scrollbars */

  grid-gap: 2ch;

  border-radius: 3px;
  color: var(--text-color);
  background-color: var(--bg);

  /* border: 2px solid var(--highlight); */
  /* -webkit-box-shadow: 0 0 10px var(--highlight);
  box-shadow: 0 0 10px var(--highlight); */

  padding: 2ch;
  overflow-x: hidden;

  animation: fade-in 300ms 1 linear;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fade {
  0% {
    /* animation-timing-function: cubic-bezier(0.2242, 0.7499, 0.3142, 0.8148); */
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal.fade {
  animation: fade 300ms 1 linear;
  animation-fill-mode: forwards;
  opacity: 0;
}

.modal.fade-out {
  animation-name: fade;
  animation-duration: 800ms;
  animation-direction: reverse;
  animation-fill-mode: forwards;
  transition-timing-function: linear;
  opacity: 1;
}

.modal input {
  margin-bottom: -3ch;

  /* Cancelling out SearchBar.css */
  width: 100%;
  margin-left: 0%;
}

.modal button {
  background-color: var(--bg);
  /* color: var(--bg); */
  color: var(--text-color);

  padding: 1ch;

  border-width: 2px;
  border-color: var(--highlight);
  border-style: solid;
  border-radius: 3px;

  transition-duration: 0.2s;
}

.modal button:hover {
  cursor: pointer;
  border-color: var(--red);
  opacity: 0.92;

  transition-duration: 0.2s;
}

.modal .card {
  text-align: left;
}

.modal-link {
  font-size: 1.2rem;
}

.modal-link:hover {
  text-decoration: underline;
  text-decoration-color: var(--red);
}

.side-cards {
  display: flex;
  flex-direction: column;
  grid-gap: 1ch;
}
.side-cards button {
  /* Rest of the styling comes from SearchBar.css */
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .modal {
    padding: 1ch;
    text-align: left;
    grid-gap: 1ch;
    top: calc(5ch - 1px);
  }

  .modal-link {
    padding-top: 2ch;
  }
}

@media (min-width: 1000px) {
  .modal {
    width: calc(100% - 2*(15% + 2ch));
  }
}
