.page-title {
  text-align: center;
}

.green-under-link {
  text-decoration-color: var(--highlight);
}

.green-under-link:hover {
  text-decoration: underline;
  text-decoration-color: var(--highlight);
  opacity: 0.95;
}


@media (max-width: 600px) {
  .page-title {
    text-align: left;
  }
}
