.author-link {
  text-decoration-color: var(--highlight);
  transition-delay: 150ms;
}

.author-link:visited {
  color: inherit;
}

.author-link:hover {
  text-decoration: underline;
  text-decoration-color: var(--highlight);
  opacity: 0.95;
}
