.form-wrapper,
.new-topic-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-wrapper {
  margin-top: 3rem;
}

.new-topic-form-wrapper > input {
  border: 1px solid black;
  border-radius: 0.75rem;
  background-color: transparent;
  color: black;
  width: 100%;
  padding: 0.5rem;
}

.form-wrapper > input {
  border: 1px solid black;
  border-radius: 0.75rem;
  background-color: transparent;
  color: black;
  width: 60vw;
  padding: 0.5rem;
}

.form-element-margin {
  margin-top: 0.3rem;
  margin-bottom: 1.5rem !important;
}

.form-wrapper p {
  font-weight: bold;
  width: 60.5vw;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.bottomMargin {
  margin-bottom: 1.5rem;
}

.smallBottomMargin {
  margin-bottom: 0.5rem;
}

.multiselect img {
  filter: brightness(0);
}

.multiselect > div > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.error-message {
  color: #b00f04;
  margin-left: 0.4rem;
}
