.card {
  background-color: #c40000ad;
  padding: 2ch;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .card {
    border-radius: 2px;
  }
}

.card a h2:hover {
  text-decoration: underline;
}

.card a img {
  opacity: 1.0;
  border-radius: 5px;
}
