.toggle {
  background-color: var(--bg);
  border: none;
  height: 3rem;
  width: 3rem;
  padding: 5px;
  clip-path: circle();
  shape-outside: circle();
}

.toggle:hover, .toggle:focus {
  cursor: pointer;
  background-color: var(--card-color);
}
