.highlightOption {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.accountSubmitButton,
.accountRevertButton {
  background: transparent;
  border: 1px solid black;
  border-radius: 0.75rem;
  padding: 0.3rem 0.5rem;
  width: fit-content;
}

.accountSubmitButton:disabled,
.accountRevertButton:disabled {
  display: none;
}

tbody tr:last-child td {
  border-bottom: none;
}

p a {
  text-decoration: underline;
}
