.frontpage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2ch;
}

@media (max-width: 600px) {
  .frontpage {
    display: flex;
    flex-direction: column;
    grid-gap: 1ch;
  }
}

@media (max-width: 1000px) {
  .frontpage {
    grid-template-columns: 1fr 1fr;
  }
}
