.page-title {
  text-align: center;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2ch;
}

.tags {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2ch;
  width: 100%;
}

@media (max-width: 600px) {
  .card-grid {
    display: flex;
    flex-direction: column;
    grid-gap: 1ch;
  }

  .page-title {
    text-align: left;
  }

  .tags {
    justify-content: left;
  }
}

@media (max-width: 1000px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}
