.page-title {
  text-align: center;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2ch;
}

@media (max-width: 600px) {
  .card-grid {
    display: flex;
    flex-direction: column;
    grid-gap: 1ch;
  }
}

@media (max-width: 1000px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}
