.arrow {
  height: 1.2rem;
  margin-left: 0.5rem;
}

path {
  fill: var(--text-color);
}

.copy {
  height: 2ch;}

.stamp-tooltip {
  /* Ugh also watch out for the inline styles in EmployeeStamp.js */

  width: fit-content;
  font-family: 'Noto Sans JP', sans-serif;
  text-transform: uppercase;
  font-size: 12px;

  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.stamp {
  -webkit-filter: drop-shadow( 4px 4px 7px var(--bg));
  filter: drop-shadow( 4px 4px 7px var(--bg));
}
