/* .EmployeeStampPopUp {
  width: 97.5vw;
  height: 97.5vh;
  border-radius: 20px;
  background-color: black;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;

  text-align: center;
}

.PopUpCloseButton {
  position: absolute;
  right: 4vh;
  top: 4vh;
} */

.arrow {
  height: 2ch;
  margin-left: 0.5ch;
}

.copy {
  /* height: 16px;
  width: 16px; */
  height: 2ch;
  /* display: inline-block; */
}
