.search-form {
  font-family: 'Lato', sans-serif;
}

.search-form label {
  display: none;
}

.search-form input {
  /* margin-left: 25%; */  
  width: 50%;
  padding: 1ch;

  color: var(--text-color);
  background-color: var(--bg);

  border-width: 2px;
  border-color: var(--highlight);
  border-style: solid;
  border-radius: 3px;

  transition-duration: 0.2s;
}

.search-form input:focus, .search-form input:hover {
  outline: none;
  border-color: var(--red);
  transition-duration: 0.2s;
}

.search-form input:focus {
  -webkit-box-shadow: 0 0 5px var(--red);
  box-shadow: 0 0 5px var(--red);
  transition-duration: 0.2s;
}

@media (max-width: 600px) {
  .search-form input {
    margin-left: 0%;
    width: 100%;
  }
}
