nav {
  color: var(--highlight);
  background-color: var(--bg);
  border-bottom: 2px solid var(--highlight);
  text-align: center;

  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 0px;
  padding-right: 2ch;
  padding-left: 2ch;
  position: sticky;
  top: 0;

  height: 10ch;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow-x: hidden;
  overflow-y: hidden;

  transition: 0.3s linear;
}

nav *:hover {
  cursor: pointer;
  /* color: var(--green-1); */
}

nav a {
  padding: 1rem;
}

.nobar {
  top: -12ch;
  transition: 0.3s linear;
}

#name {
  font-size: clamp(2rem, 5vw, 4rem);
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
}

.radimir path,
.search path {
  width: 2ch;
  fill: var(--highlight);
}

.search {
  position: absolute;
  right: 2ch;
  top: 2ch;
}

/* Closeburger button */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_menu_icon_js */
.burger {
  display: inline-block;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 3ch;
  left: 2ch;
}

.burger div {
  width: 35px;
  height: 5px;
  background-color: var(--highlight);
  margin: 6px 0;

  transition-duration: 100ms;
}

.closed:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-9px, 5px);
  transform: rotate(-45deg) translate(-8px, 6px);
}

.closed:nth-child(2) {
  opacity: 0;
}

.closed:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-9px, -8px);
}

@media (max-width: 600px) {
  nav {
    /* margin-left: calc(20%); */
    height: 6ch;
    padding: 1ch;
    /* padding-left: calc(35px + 2ch);*/ /*Squished burgers are sad & could show up if we add more to the navbar */
    /* padding-top: 1ch;
    padding-bottom: 1ch;
    padding-left: 0ch; */
  }

  .search {
    position: absolute;
    right: 1ch;
    top: 0.5ch;
  }

  .burger {
    top: 1ch;
    left: 1ch;
  }
}
