nav a {
  /* font-size: clamp(14px, 1rem + 2vw, 40px); very big */
  padding: 1ch;
  text-decoration: none;
}

nav a:visited {
  color: inherit;
}

nav a:hover {
  color: #ffffffe0;
}

nav {
  padding: 1ch;
}
