nav {
  color: #f0fff6;
  margin-left: 0px;
  padding: 2ch;
  background-color: #00570d;

  /* HANDLE THE ISSUE VIEW */
  margin-left: calc(20%);

  position: sticky;
  top: 0;
}

nav a {
  /* font-size: clamp(14px, 1rem + 2vw, 40px); very big */
  padding: 1ch;
}

nav a:first-child {
  align-self: center;
  font-weight: bold;
}

@media (max-width: 600px) {
  nav {
    margin-left: calc(20%);
    padding-top: 1ch;
    padding-bottom: 1ch;
    padding-left: 0ch;
  }
}
