* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #1a0000;
  color: #ffeeeb;
  margin: 0px;
}

main {
  margin-left: 2ch; /* lines up w/ navbar */
  margin-right: 2ch;
  margin-top: 2ch;
  padding: 1ch;

  /* wrapping */
  overflow-wrap: anywhere;
  hyphens: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  opacity: 0.95;
}
