* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #360000;
  color: #ffeeeb;
  margin: 0px;
}

main {
  margin-left: 2ch; /* lines up w/ navbar */
  padding: 1ch;
  word-wrap: break-word;
}
