@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");

:root {
  --light_red: #ff0000ad;
  --red: #c40000ad;
  --dark_red: #c05e5e;
  --darker_red: #9e535b;
  --green_1: #53be79;
  --green_2: #00570d;
  --bg: #090909;
  --highlight: #f3f2f2;
}
* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--bg);
  color: #ffffff;
  margin: 0px;
}

main {
  margin: 2ch;
  margin-bottom: 15ch;

  /* wrapping */
  overflow-wrap: anywhere;
  hyphens: auto;
}

.layoutWrapper {
  position: relative;
  min-height: calc(100vh - 10ch);
  overflow-x: hidden;
  transition: 0.4s ease;
}

.layoutWrapperAccountForSidebar {
  /* HANDLE THE ISSUE VIEW */
  transition: 0.4s ease;
  margin-left: calc(20%);
}

/* body:hover {
  overflow-y: scroll;
} */

::-webkit-scrollbar {
  width: 10px;
  background: rgba(255, 255, 255, 0.039);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px var(--highlight);
  border-radius: 6px;
  border: solid 3px transparent;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px 10px var(--red);
}

@media (max-width: 600px) {
  main {
    padding: 0ch;
    margin: 1ch;
    margin-left: calc(10% + 1ch);
  }
  ::-webkit-scrollbar {
    width: 5px;
    /* background-color: white; */
  }
}

/* @media (min-width: 1300px) {
  main {
    margin-right: calc(20% + 2ch);
  }
} */

/* Styling links? */

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  opacity: 0.95;
}

a * {
  color: inherit;
  text-decoration: none;
}

a:visited * {
  color: inherit;
}
/* 
a:hover * {
  opacity: 0.95;
} */
