.sidebar {
  text-align: right;

  height: 90vh;
  width: 30%;

  z-index: 2;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  overflow-x: hidden; /* Avoid horizontal scrollbars */

  grid-gap: 1ch;

  position: fixed;
  /* top: 74px;*/ /*Sketchy navbar height shhhhh*/

  /* padding-top: 3ch;
  padding-bottom: 6ch; */

  border-right: 2px solid var(--highlight);
  background-color: var(--bg);

  padding: 2ch;
  overflow-x: hidden;

  transition: 0.4s ease;
  left: 0px;

  /* Hiding scrollbars */
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
}

/* Would slide in the thing */
/* https://stackoverflow.com/questions/40463173/swipe-effect-in-react-js */
.sidebarHidden {
  left: -50%;
  transition: 0.3s ease;
}

.sidebar-link {
  text-decoration-color: var(--highlight);
  /* text-decoration: none;
  text-decoration-color: var(--highlight); */
  /* margin-bottom: -3px; */
  /* width: fit-content;
  border-bottom: 2px solid transparent;
  transition: border 150ms ease; */
}

.sidebar-link:hover {
  /* border-color: var(--highlight); */
  text-decoration: underline;
  text-decoration-color: var(--highlight);
}

/*
.overlay {
  position: fixed;
  top: 0px;
  padding: 2ch;
  left: -100px;
  width: 100px;
  height: 100%;

  background-color: #008cba;
  overflow: hidden;
  transition: 0.4s ease;
}*/

@media (max-width: 600px) {
  .sidebar {
    top: 5ch;
    grid-gap: 1ch;
    width: 40%;
    /* padding: 1ch; */
    height: 100vh;
    text-align: left;
  }

  /* .sidebarHidden {
    left: -80%;
  } */
}
