.sidebar {
  /* ACCOUNT FOR NAVBAR */
  /* document.getElementsByTagName("nav")[0].offsetHeight */
  /* margin: 2ch; */
  /* padding-top: 1ch; */

  height: 90vh;
  width: 40%;

  z-index: 2;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  /* Avoid horizontal scrollbars */
  overflow-x: hidden;
  grid-gap: 1ch;

  position: fixed;
  /* top: 74px;*/ /*Sketchy navbar height shhhhh*/
  padding: 1ch;
  /* padding-top: 3ch;
  padding-bottom: 6ch; */

  border-right: 2px solid var(--highlight);

  overflow-x: hidden;
  transition: 0.4s ease;
  left: 0px;

  /* Hiding scrollbars */
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
}

/* Would slide in the thing */
/* https://stackoverflow.com/questions/40463173/swipe-effect-in-react-js */
.sidebarHidden {
  left: -50%;
  transition: 0.3s ease;
}
/*
.overlay {
  position: fixed;
  top: 0px;
  padding: 2ch;
  left: -100px;
  width: 100px;
  height: 100%;

  background-color: #008cba;
  overflow: hidden;
  transition: 0.4s ease;
}*/

.container:hover .overlay {
  left: 0px;
}

/* h1 {
  margin-bottom: 0ch;
} */

/* .sidebar::-webkit-scrollbar {
  display: none;
} */
@media (max-width: 600px) {
  .sidebar {
    /* ACCOUNT FOR NAVBAR */
    top: 57px;
    grid-gap: 1ch;
    width: 80%;
    padding: 1ch;
  }

  .sidebarHidden {
    left: -80%;
    transition: 0.2s ease;
  }
}
