.sidebar {
  text-align: right;

  height: 90vh;
  width: 50%;

  z-index: 2;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  overflow-x: hidden; /* Avoid horizontal scrollbars */

  grid-gap: 2ch;

  position: fixed;
  left: 0px;

  border-right: 2px solid var(--highlight);
  background-color: var(--bg);

  padding: 2ch;
  overflow-x: hidden;

  transition: 0.3s ease;
}

.sidebar input {
  margin-bottom: -3ch;

  /* Cancelling out SearchBar.css */
  width: 100%;
  margin-left: 0%;
}

.sidebar button {
  background-color: var(--text-color);
  color: var(--bg);

  border-color: transparent;
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
}

.sidebar button:hover {
  opacity: 0.9;

  border-color: var(--highlight);
  border-style: solid;
}

/* Would slide in the thing */
/* https://stackoverflow.com/questions/40463173/swipe-effect-in-react-js */
.sidebarHidden {
  left: -50%;
  transition: 0.3s ease;
}

.sidebar-link {
  text-decoration-color: var(--highlight);
}

/* Hush */
/* .sidebar .card a *:not(h2):hover {
  text-decoration: none;
  text-decoration-color: transparent;

  background-color: red;
} */

.sidebar-link:hover {
  text-decoration: underline;
  text-decoration-color: var(--highlight);
}

.side-cards {
  display: flex;
  flex-direction: column;
  grid-gap: 1ch;
}

@media (max-width: 600px) {
  .sidebar {
    top: 5ch;
    width: 80%;
    height: 100vh;
    text-align: left;
  }

  .sidebarHidden {
    left: -80%;
  }
}
