.footer {
  color: var(--highlight);
  background-color: var(--bg);
  border-top: 2px solid var(--highlight);

  width: 100%;
  height: 10ch;
  display: flex;
  align-items: center;

  position: absolute;
  bottom: 0;
}

.footer a:hover {
  opacity: 0.92;
}

.footerLinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.footerLinks svg {
  height: 4ch;
  width: 4ch;
}

/* .footerPageLinks {
  color: white;
  display: flex;
  flex-flow: column wrap;
}
.footerPageLinks a {
  display: block;
  width: 100%;
} */
