footer {
  color: var(--highlight);
  background-color: var(--bg);
  border-top: 2px solid var(--highlight);

  width: 100%;
  height: 10ch;
  display: flex;
  align-items: center;

  position: absolute;
  bottom: 0;
}

.footerSocialsLinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.footerSocialsLinks svg {
  height: 40px;
  width: 40px;
}
