.AllTags {
  font-family: "Roboto", sans-serif;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2ch;
}

.AllTags .tag {
  font-size: clamp(12px, 12px + 0.2vw, 1.25rem);
}

.tag {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  background-color: var(--red);
  border-radius: 3px;
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

a.tag:hover {
  opacity: 0.92;
  text-decoration: none;
}

@media (max-width: 600px) {
  .AllTags {
    justify-content: left;
  }
}
