.top-banner-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 500px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-content: center;
  justify-content: center;

  overflow-y: hidden;
}

.error-page .top-banner-section {
  grid-template-rows: calc(100vh - 4rem - 20rem - 2rem);
}

.top-banner-section div {
  grid-area: 1 / 1 / 2 / 2;
}

.banner-image {
  display: grid;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 50%; */
  /* border-radius: 5px; */
}

.banner-overlay-div {
  display: grid;
  background: black;
  background:
    linear-gradient(0deg, var(--banner-tint), transparent),
    linear-gradient(-180deg, var(--banner-tint), transparent)
  ;
}

.error-page .banner-overlay-div {
  background-color: var(--banner-text);
}

.banner-text-div {
  backdrop-filter: blur(2px);

  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
}

.banner-text-div a {
  text-decoration: underline;
  text-decoration-color: var(--text-color);
}
.banner-text-div a:hover {
  text-decoration: none;
}

.banner-text-div .home-action a {
  text-decoration: none;
}

.banner-h1-text {
  /* font-size: calc(10pt + 0.15vw); */
  letter-spacing: 0.05em;
  font-weight: bolder;
}

.banner-body-text {
  /* font-size: calc(10pt + 0.15vw); */
  margin-top: 0.5em;
}
